<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <context:annotation-config/>

    <!-- Annotation Definition -->
    <context:component-scan base-package="com.thoughtworks.twu"/>

    <mvc:annotation-driven/>

    <tx:annotation-driven proxy-target-class="true"/>

    <!-- Data source and Hibernate configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/swap?characterEncoding=utf-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <!--<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
    <!--<property name="persistenceXmlLocation" value="classpath*:META-INF/persistence.xml"></property>-->
    <!--<property name="persistenceUnitName" value="NewPersistenceUnit"/>-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--<property name="loadTimeWeaver">-->
    <!--<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>-->
    <!--</property>-->
    <!--<property name="jpaVendorAdapter">-->
    <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
    <!--<property name="showSql" value="true"/>-->
    <!--</bean>-->
    <!--</property>-->
    <!--<property name="packagesToScan">-->
    <!--<list>-->
    <!--<value>com.thoughtworks.twu</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
    <!--<property name="entityManagerFactory" ref="entityManagerFactory"></property>-->
    <!--</bean>-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.thoughtworks.twu.domain.User</value>
                <value>com.thoughtworks.twu.domain.Offer</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.format_sql=true
                hibernate.show_sql=true
            </value>
        </property>
    </bean>

    <!-- A transaction manager for working with Hibernate SessionFactories -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Freemarker -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/freemarker/"/>
    </bean>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>

    <!-- CAS Authentication -->
    <bean name="authenticationFilter"
          class="org.jasig.cas.client.authentication.AuthenticationFilter"
          p:casServerLoginUrl="https://castest.thoughtworks.com:443/cas/login"
          p:renew="false"
          p:gateway="false"
          p:service="http://127.0.0.1:8080/twu/"/>

    <bean name="ticketValidationFilter"
          class="org.jasig.cas.client.validation.Cas10TicketValidationFilter"
          p:service="http://127.0.0.1:8080/twu/">
        <property name="ticketValidator">
            <bean class="org.jasig.cas.client.validation.Cas10TicketValidator">
                <constructor-arg index="0" value="https://castest.thoughtworks.com:443/cas"/>
            </bean>
        </property>
    </bean>
</beans>